@model PUCCI.Models.Image

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Image</h4>
<hr />
<script>
    function uploadFiles() {
            var input = document.getElementById('postedFiles');
            var Files = input.files;
            var Form =  new FormData();
            for(var i=0;i<Files.length;i++){
                Form.append("files",Files[i]);
            }
            Form.append("Name",document.getElementsByName("Name"));
            $.ajax({
                url :"Image/Create",
                type: "POST",
                data : Form,
                contentType : false,
                processData : false,
                success : function(data){
                    alert("Uploaded"+ data);
                }
            });
    }
 </script>
<div class="row">
    <div class="col-md-4">
        <h3>@ViewBag.Message </h3>
        <form method="post" id="postedFiles" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="file" name="Dockerfile" />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" onclick="uploadFiles()"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
